# --- Django y Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Variables de Entorno y Secretos ---
.env

# --- Base de Datos (Se genera automáticamente) ---
db.sqlite3
*.sqlite3
src/db.sqlite3

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
